ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
.sort-dropdown {
    margin-bottom: 20px;
  }
  
  .sort-dropdown span {
    margin-right: 10px;
  }
  
  .sort-dropdown select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
  }
  
li a {
    height: 22.5rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #722929;    
}

li a:hover{
    opacity: 0.9;
    cursor: pointer;
}

li a img{
    object-fit: cover;
    height: 14.5rem;
}

.content{
    margin: 0.3rem;
    padding: 0.5rem 1rem;
    position: relative;
    height: 7rem;
}

.favorite{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.2rem;
}

.favorite.not{
    color: grey;
}

.stars{
    margin-bottom: 0.2rem;
}

.product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.origins{
    flex: 9;
}

.origins span{
    border-radius: 2rem;
    background-color: whitesmoke;
    display: inline-block;
    font-size: 0.8rem;
    color: gray;
    margin-right: 0.3rem;
    padding: 0 0.5rem;
    margin-top: 0.2rem;
}

.price{
    position: absolute;
    bottom: 0;
    left: 0.9rem;
    background: white;
    padding: 0.3rem 100% 0 0;
    color: #414141;
    margin-top: 0.7rem;
    font-size: 1.1rem;
}
#sort {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px; 
  }
  
  #sort label {
    margin-right: 10px; 
  }
  
  #sort select {
    padding: 0.3rem;
    border: 1px solid #f0f0f0;
    border-radius: 10rem;
    font-weight: 600;
    color: blue;
    cursor: pointer;
  }
  
  #sort select:hover {
    background-color: black;
    color: white;
  }
